/*body {
	background-color:white;
	background-position:fixed;
	line-height:25px;

}

.content {
	background-color:#fbf468;
	border-radius:25px;
	width:300px;
	height:370px;
	padding: 10px;
}*/
body {
	margin: 0; /* حذف فاصله‌های پیش‌فرض */
	background-color:white;
	background-position:fixed;
	line-height:25px;
}

.content {
	background-color: #fbf468;
	border-radius: 25px;
	width: 320px; /* عرض ثابت */
	height: 370px; /* طول ثابت */
	padding: 10px;
	position: fixed; /* ثابت در صفحه */
	top: 50px; /* 50 پیکسل از بالا */
	left: 50%; /* وسط صفحه از نظر عرض */
	margin-left: -160px; /* نیمه عرض محتوا برای وسط قرار دادن آن */
}




input {
	font-family: tahoma;
	font-size:10px;
    color: #070707;
	height:30px;
	padding:0 10px;
	width:200px;
	margin:5px 10px;
	border: #b4b349 solid 1px;
	background-color:transparent;
	float:center;
	outline:0;
	border-radius:5px;

}
input:focus {
	border: #949331 solid 1px;
}
.belt {
	width:220px;
	margin-bottom: -5px;
    margin-left: 4px;
}
input#sub{
	border: #4865f2 solid 1px;
	background-color:#4865f2;
	color:white;
		font-size:15px;

}
input#sub:hover{
	border: #18568a solid 1px;
	background-color:#18568a;
	color:white;
}
#passInput{
	padding-right: 27px;
}
.righteye{
	width: 25px;
    left: 174px;
    position: absolute;
    top: 75px;
}
.lefteye{
	width: 25px;
    left: 110px;
    position: absolute;
    top: 75px;
}
.lefteye, .righteye{
	transition: all .2s linear;
}
.bob{
	width:150px;
	height:auto;
	padding-top: 20px;
    padding-left: 70px;
}

.center {
	margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.cir11 {
	position: absolute;
	padding:5px;
	border:1px;
	border-color:black;
	border-style: solid;
    border-radius: 90%;
}
.f1 {
	text-align:center;
	position: relative;
}
.icon-eye, .icon-eye-off{
	position: absolute;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
	width: 22px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	right: 45px;
	top: 77px;
}
.icon-eye{

}
.icon-eye-off{
	display: none;
}
.icon-eye svg, .icon-eye-off svg{
	pointer-events: none;
}